{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {#    Shopping bag header#}
    <div class="overlay"></div>
    <div class="container mb-2">
    <div class="row top-margin">
        <div class="col">
            <h2 class="logo-font mb-4 display-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    {#        Shopping bag#}
    {% if bag_items %}


        {#        Product details#}
        {% for item in bag_items %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-xl-4 col-md-4 col-sm-6">
                                <img class="img-fluid" src="{{ item.product.image.url }}">
                            </div>
                            <div class="col-xl-4 col-md-5 col-sm-4">
                                <div class="card-body">
                                    <p ><strong>{{ item.product.name }}</strong></p>
                                    <p class="small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    <p class="font-weight-bold">Price: ${{ item.product.price }}</p>
                                    <p >Quantity: {{ item.quantity }}</p>

                                    <form class="form update-form w-75" method="POST"
                                          action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                       name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                       data-item_id="{{ item.item_id }}"
                                                       id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                    </button>
                                                </div>
                                                {% if item.product.has_sizes %}
                                                    <input type="hidden" name="product_size"
                                                           value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info">
                                        <small>Update</small>
                                    </a>
                                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}"
                                       data-product_size="{{ item.size }}">
                                        <small>Remove</small>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-3 col-sm-3">
                                <div class="card-body">
                                    <p class="text-center">Subtotal </p>
                                    <p class="text-center font-weight-bold lead"><u>${{ item.product.price | calc_subtotal:item.quantity }}</u></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col mt-5 float-right">
            <div class="row float-right">
                <div class="card border-0">
                    <div class="card-body">
                        <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                        <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                        <h4 class="mt-4"><strong><u>Grand Total: ${{ grand_total|floatformat:2 }}</u></strong></h4>
                        {% if free_delivery_delta > 0 %}
                            <p class="mb-1 mt-5 text-danger">
                                You could get free delivery by spending just
                                <strong>${{ free_delivery_delta }}</strong> more!</p>
                            {% endif %}
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p class="lead mb-5">Your bag is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    {% endif %}
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function (e) {
            var form = $(this).prev('.update-form');
            form.submit();
        });

        // Remove item and reload on click
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })
    </script>
{% endblock %}