{#Upload required files for homepage#}
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}
{#The main call out#}
{% block content %}
    <div class="front-image">
        <div class="container callout-container h-100">
            <div class="row h-100">
                <div class="col-7 col-md-7 my-auto">
                    <h1 class="callout-text draw-font font-uppercase black-color text-center">
                        Alex Digital Art Tutorials For Beginners
                    </h1>

                    <div class="my-5 d-flex justify-content-center">
                        <h4>
                            <a href="{% url 'products' %}?category=Photoshop,Lightroom,Krita"
                               class="shop-now-button draw-font btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}