<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle logo-font font-weight-bold text-black mr-5 nav-tags-size " href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=price&direction=dsc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 nav-tags-size" href="{% url 'products' %}?category=Photoshop" id="clothing-link" aria-haspopup="true" aria-expanded="false">
                Photoshop
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 nav-tags-size" href="{% url 'products' %}?category=Lightroom" id="homeware-link" aria-haspopup="true" aria-expanded="false">
                Lightroom
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black nav-tags-size" href="{% url 'products' %}?category=Krita" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Krita
            </a>
        </li>
    </ul>
</div>

