{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}
{#The main call out#}

{% block content %}
    <div class="image-404">
        <div class="container callout-container h-100">
            <div class="row h-100">
                <div class="col-12 text center">
                    <h1 class="callout-text draw-font font-uppercase black-color text-center">
                        Error 404
                    </h1>

                </div>
                <a href="{% url 'home' %}"
                   class="shop-now-button draw-font btn btn-lg rounded-0 text-uppercase py-3">Back to Home Page</a>
            </div>
        </div>
    </div>
{% endblock %}